[submodule "part11/full-stack-open-pokedex"]
	path = part11/full-stack-open-pokedex
	url = git@github.com:miikanissi/full-stack-open-pokedex.git
[submodule "part11/fullstackopen2021-part11.21"]
	path = part11/fullstackopen2021-part11.21
	url = git@github.com:miikanissi/fullstackopen2021-part11.21.git
